.site-header.mobile {
    display: none;
}

a.btn-primery {
    background-color: #bc8e54;
    color: #111111;
    padding: 11px 31px;
    border-radius: 4px;
    display: inline-block;
    max-width: max-content;
    text-align: center;
    font-size: 14px;
    display: flex;
    gap: 10px;
    text-decoration: none;
}
header.site-main-header {
    background-color: #111111;
    border-bottom: 1px solid #464646;
}
.logo {
    max-width: 228px;
}

.main-navigation a {
    color: #ffff;
    font-size: 16px;
    font-weight: 500;
}

.logo img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.site-header {
    color: #ffff;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.svg-icon-wrapper svg {
    stroke: #fff;
    width: 20px;
    height: 20px;
}

.page-width {
    max-width: 1150px;
    margin: 0 auto;
}

nav.main-navigation ul {
    display: flex;
    gap: 10px;
    list-style: none;
}
#upcoming > .page-width {
    padding: 0;
}

.menu-item.current-menu-item a {
    color: var(--gold);
}

.menu-item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
}
nav.main-navigation {
    width: 80%;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav.main-navigation ul li {
    padding: 0 10px;
}

@media only screen and (min-width:999px){
.close-menu img, .mobile-humburger img {
    display: none;
}
}
@media only screen and (max-width:989px){
.site-header.desktop a.btn-primery {
    display: none;
}
.site-header {
    padding: 0 20px 0 5px;
}
nav.main-navigation {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #000;
    z-index: 99999;
    max-width: 300px;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    align-items: flex-start;
    justify-content: flex-start;
}
span.close-menu {
    cursor: pointer;
    max-width: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
}
span.close-menu img {
    width: 100%;
}
nav.main-navigation.active {
    transform: translateX(0);
}
.main-navigation .mobile-nav ul {
    flex-direction: column;
}
span.mobile-humburger img {
    width: 100%;
}
span.mobile-humburger {
    max-width: 30px;
}
.logo {
    max-width: 160px;
}
.site-footer {
    padding: 20px 20px 0px !important;
}
.pricing-table-container {
    width: 100%;
    margin: 0 auto;
}

}
@media only screen and (max-width:767px){
.event-card-footer {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 10px;
}
.inner-page .page-width {
    padding: 0 20px !important;
}
}
