.site-header.mobile {
    display: none;
}

a.btn-primery {
    background-color: var(--cw-gold);
    color: #111111;
    padding: 7px 20px;
    border-radius: 10px;
    display: inline-block;
    max-width: max-content;
    text-align: center;
    font-size: 14px;
    display: flex;
    gap: 10px;
}
header.site-main-header {
    background-color: #111111;
}
.logo {
    max-width: 228px;
}

.main-navigation a {
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
}

.logo img {
    width: 100%;
    object-fit: contain;
    height: auto;
}

.site-header {
    color: #ffff;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding-top: 15px;
}

.svg-icon-wrapper svg {
    stroke: #fff;
    width: 20px;
    height: 20px;
}

.page-width {
    max-width: 1150px;
    margin: 0 auto;
}

nav.main-navigation ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

.menu-item.current-menu-item a {
    color: var(--cw-gold);
}

.menu-item a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
}

nav.main-navigation ul li {
    padding: 0 20px;
}